<br>
<fieldset>
  <legend><strong>Add a note:</strong></legend>
  <form action="/notes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="track_id" value="<%= @track.id %>">

    <textarea name="content" rows="4" cols="40"></textarea><br>

    <input type="submit" value="Submit Note">
    
  </form>
</fieldset>
