<h1>Bands</h1>

<% @bands.each do |band| %>
  <p>
    <strong><%= link_to band.name, band %></strong>
  </p>
<% end %>

<% if admin? %>
  <%= button_to "Add a Band", new_band_path, method: :get %>
<% end %>
